*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
header{
    background-color: green;
    height: 6em;
}
img{
    height: 5em;
    margin-top: 8px;
    margin-left: 10%;
}
.head-tag{
    float:right;
    margin-top: 2%;
    margin-right: 5%;
}
.head-tag a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 8px;
}
.head-tag a:hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;
}
.side-bar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 4%;
    margin-left: 3%;
    
}
.side-bar li{
    list-style: square;
    margin-bottom: 5px;
}
/* form */
.login{
    float:right;
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 5%;
    border: 2px solid green;
    background-color: beige;
    padding: 30px;
}
.login h2{
    text-align: center;
    height: 1.5em;
}
.login #login-button{
    width: 100%;
    height: 1.8em;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.container{
    /* border: 2px solid black; */
    margin-top: 10%;
    margin-left: 1%;
}
p-box{
    border: 3px solid white;
    width: 22%;
    float: left;
    margin-left: 10px;
    height: 15em;
    padding: 5px;
    background-color: #ccc;
}
.p-box h3{
    text-align: center;
    text-transform: uppercase;

}
.p-bx p{
    line-height: 1.25em;
    text-align: justify;
}
.p-box a{
    text-decoration: none;
    color: red;
}
footer{
    background-color: black;
    color: white;
    margin-top: 3%;
    height: 1.5em;

}
footer p{
    text-align: center;
}
